{% extends "layout.html" %}
{% block content %}

    <h1> Home Page! </h1>



  <P>

        Topic should be: <input type="text" id="topic" value=""><br/>
        <input type = "submit" id="button" value = "Submit"><br/><br/>
        <button id="button1">Business</button><br/><br/>
        <button id="button2">Health</button><br/><br/>
  </P>



<script type = "text/javascript"
         src = "{{ url_for('static', filename = 'blog/sketch.js') }}" ></script>


<!--<iframe src="http://localhost:8050/app2" width=700 height=600 style="float:right"> </iframe>-->

<a href="http://localhost:8050/app1"><strong>Stock Chart</strong></a>







{% endblock content %}
